version: "3.8"
services:

    appserver:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - "./src:/src"
        depends_on:
            - postgres
        ports:
            - 5000:5000
        deploy:
            restart_policy:
                condition: on-failure

    postgres:
        image: "library/postgres:9.6"
        environment:
            POSTGRES_USER: "testuser"
            POSTGRES_PASSWORD: "password"
        expose:
            - "5432"
        deploy:
            restart_policy:
                condition: on-failure